.dashboard-header-wrapper{
    .dashboard-header-container{
        display: flex;
        justify-content: center;
        font-size: 18px;
        padding: 15px;
        color: #fff;
        align-items: center;
        background-image: linear-gradient(88deg, #115eb4, #1676e2 48%, #1aa5c9);
    }
}