.item-wrapper{
    // border: 1px solid red;
    padding: 10px;
    margin-top: 15px;
    .title{
        text-align: center;
        background: #edf4fd;
    }
    .item-list-wrapper{
        display: flex;
        justify-content: space-between;
        .date-container{
            display: flex;
            flex-direction: column;
        }
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
}
  
  tr:nth-child(even) {
    // background-color: #dddddd;
  }